/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.mat-form-field{
  .mat-form-field-flex {
    background-color: grey;
  }
}

.bottom .mat-form-field-wrapper {
  margin-right: 10%;
}

@media only screen and (max-width: 500px) {
  .bottom .mat-form-field-wrapper {
    margin-right: 20%;
  }
}


